.month {
    margin-bottom: 0 !important;
    display: inline-block;
    
} 

.week { 
    font-weight: 400;
    margin-bottom: 0;
}

.date {
    font-weight: 300;
}

.text-truncate {
    text-overflow: inherit;
}

.today-date-badge {
    background: linear-gradient( #36D1DC, #5B86E5 );
}

// modal
table {
    table-layout: fixed;
}

.modal-row {
    width: 30% !important;
}

h5 {
    margin-bottom: 0;
}

@media (max-width:575px) {
    .month {
        font-size: 1.2rem;
    }

    .week {
        font-size: small;
    }

    .day h5 {
        font-size: small;
        padding: 3px 5px 5px;
        margin: -3px -8px 0px -8px;
    }

    .day {
        height: 29vw !important;
    }

    .today-date-badge {
        background: linear-gradient( 45deg, #36D1DC, #5B86E5 );
        padding-left: 0;
        padding-right: .3rem;
    }

    .date {
        font-size: small;
        padding-left: 4px;
    }

    .event {
        padding: .2rem .5rem !important;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}