.mnd-color{
    background: linear-gradient( 45deg, #36D1DC, #5B86E5 );
}

.navbar{
    padding: 1.3rem !important;
}

.container-fluid {
    margin: 100px 0 !important;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.tab-icon {
    font-size: 26px;
    color: lightgrey;
}

.tab-active {
    color: #5699E3;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fas {
    color: #5699E3;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}