.mnd-color{
    background: linear-gradient( 45deg, #a8e063,  );
}

.navbar{
    padding: 1.3rem !important;
}

.container-fluid {
    margin: 75px 0 !important;
}

.bg-violet {
    background-color: #6610f2;
}

.text-black {
    color: black !important;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none;
}

.tab-icon {
    font-size: 26px;
    color: lightgrey;
}

.tab-active {
    color:#a8e063;
}

.fas {
    color:#a8e063;
    background: -webkit-linear-gradient( #a8e063, #009245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.far {
    color: #a8e063;
}