{% extends "base.html" %}

{% block content %}
{% load custom_tags %}
    <div class="container-fluid">
        <header>
            <h4 class="display-4 mb-4 text-center">{{view.year}}년 {{view.month}}월<br></h4>
            <a href="{% url 'calendar' view.before %}">이전달</a>
            <a href="{% url 'calendar' view.after %}">다음달</a>
            <div class="row d-sm-flex p-1 bg-dark text-white">
            <h5 class="col p-1 text-center">일</h5>
            <h5 class="col p-1 text-center">월</h5>
            <h5 class="col p-1 text-center">화</h5>
            <h5 class="col p-1 text-center">수</h5>
            <h5 class="col p-1 text-center">목</h5>
            <h5 class="col p-1 text-center">금</h5>
            <h5 class="col p-1 text-center">토</h5>
            </div>
        </header>
        <div class="row border border-right-0 border-bottom-0">
            <!-- 첫째 날 채우기 -->

                {% for i in view.weekday|fisttimes %}
                    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            {% comment %} <span class="date col-1">29</span> {% endcomment %}
                            {% comment %} <small class="col d-sm-none text-center text-muted">Sunday</small> {% endcomment %}
                            <span class="col-1"></span>
                        </h5>
                        {% comment %} <p class="d-sm-none">No events</p> {% endcomment %}
                    </div>
                {% endfor %}

            {% for day in view.days %}
                <div class="day col p-2 border border-left-0 border-top-0 text-truncate ">
                    <h5 class="row align-items-center">
                        <span class="date col-1">{{ day }}</span>
                        <!---small class="col d-sm-none text-center text-muted">{{view.weekday}}</small-->
                        <span class="col-1"></span>
                    </h5>
                    <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" title="Test Event 1">Test Event 1</a>
                    {% comment %} <p class="d-sm-none">No events</p> {% endcomment %}
                </div>
                {% if day in view.saturday %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
            <!-- 마지막 날 채우기 -->
            {% for i in view.last_weekday|lasttimes %}
                <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-sm-inline-block bg-light text-muted">
                    <h5 class="row align-items-center">
                        {% comment %} <span class="date col-1">29</span> {% endcomment %}
                        {% comment %} <small class="col d-sm-none text-center text-muted">Sunday</small> {% endcomment %}
                        <span class="col-1"></span>
                    </h5>
                    {% comment %} <p class="d-sm-none">No events</p> {% endcomment %}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endblock content %}



    {% comment %} <h1>Calendar page</h1>
        {{view.year}}년 {{view.month}}월<br>
        1일은 {{view.weekday}}번째 요일
        <a href="{% url 'calendar' view.before %}"">이전달</a>
        <a href="{% url 'calendar' view.after %}">다음달</a>
        {% for day in view.days %}
            <p>
                {{ day }}일
                {% for event in view.day_events|index:day %}
                    <p>제목: {{ event.title }}</p>
                    <p>분야: {{ event.get_category_display }}</p>
                    {% if event.concept %}
                        <p>개념: {{ event.concept }}</p>
                    {% endif %}
                    {% if event.background %}
                        <p>배경: {{ event.background }}</p>
                    {% endif %}
                    {% if event.importance %}
                        <p>왜 중요해?: {{ event.importance }}</p>
                    {% endif %}
                    {% for a in event.top_article.all %}
                        <p>관련 대표 기사: {{ event.top_article }}</p>
                    {% endfor %}
            {% endfor %}   
        </p>     
    {% endfor %}
{% endblock content %} {% endcomment %}
