{% extends "base.html" %}

{% block content %}
{% load custom_tags %}
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-light">
        <h4 class="month mb-4 text-center">{{ view.year }}년 {{ view.month }}월 {{ view.day }}일</h4>
    </nav>
{% comment %} {{view.year}}
{{view.month}}
{{view.day}}
<h2>팔로우하는 이슈</h2>
{% for issue in issues %}
    <strong># {{ issue.title }}</strong> <a href="{% url 'unfollow' issue.id %}?next={{request.path}}">언팔로우</a> | {{ issue.followers|length }} followers <br>
    {% if issue.events.first %}
    다가오는 일정: {{ issue.events.first.title }}<br>
        {% with article=issue.events.first.articles.first %}
            <a href="{% url 'article' article.id %}">{{ article.title }}</a><br>
            {{ article.press }} | {{ article.created_at }}<br>
        {% endwith %}
    {% endif %}
{% endfor %} {% endcomment %}

    <h2>내가 팔로우하는 일정</h2>
    {% for event in events %}
        <strong># </strong> {{ event.title }}
        <a href="{% url 'unfollow' event.id %}?next={{request.path}}">
            <i class="fas fa-star"></i>
            {% comment %} <i class="material-icons">star</i> {% endcomment %}
        </a> | {{ event.followers|length }} followers <br>
        {% with article=event.articles.first %}
            <a href="{% url 'article' article.id %}">{{ article.title }}</a><br>
            {{ article.press }} | {{ article.created_at }}<br>
        {% endwith %}
        {% if event.issue.events|length > 1 %}
        관련한 다른 일정: <span class="p-1 pl-2 pr-2 rounded text-truncate text-white bg-danger" id="exampleModalLongTitle">{{ event.issue.events.last.title }}</span><br>
        {% endif %}
    {% endfor %}



    <h2>다가오는 다른 일정</h2>
    {% for event in view.other_events %}
        <strong># {{ event.title }}</strong>
        <a href="{% url 'follow' event.id %}?next={{request.path}}">
            <i class="far fa-star"></i>
        </a> | {{ event.followers|length }} followers <br>
        {% with article=event.articles.first %}
            <a href="{% url 'article' article.id %}">{{ article.title }}</a><br>
            {{ article.press }} | {{ article.created_at }}<br>
        {% endwith %}
        {% if event.issue.events|length > 1 %}
        관련한 다른 일정: {{ event.issue.events.last.title }}<br>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}