{% extends "base.html" %}

{% block content %}
{% load custom_tags %}

<!-- memo nav bar-->
<nav class="navbar fixed-top navbar-light bg-light justify-content-center">
    <h4 class="month mb-4 text-center">메모<br></h4>
</nav>

<div class="container-memo">
    <!-- nav filtering nav tabs-->

    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'memos' %}">최신순</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'memos_issue' %}">이슈별</a>
        </li>
    </ul>

    <!-- memo timeline-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="timeline">
                    {% for memo in memos %}

                        {% if memo.article %}
                            {% if memo.article.event.get_category_display == '정치'%}
                                <li class="politics">
                                    <h6 class="d-block p-1 pl-2 pr-2 rounded text-truncate bg-danger text-white" id="exampleModalLongTitle">{{ memo.article.event }}</h6>
                                    {{ memo.article.title }}
                            {% elif memo.article.event.get_category_display == '경제'%}
                                <li class="economics">
                                    <h6 class="d-block p-1 pl-2 pr-2 rounded text-truncate bg-success text-white" id="exampleModalLongTitle">{{ memo.article.event }}</h6>
                                    {{ memo.article.title }}
                            {% elif memo.article.event.get_category_display == '사회'%}
                                <li class="society">
                                    <h6 class="d-block p-1 pl-2 pr-2 rounded text-truncate bg-warning text-white" id="exampleModalLongTitle">{{ memo.article.event }}</h6>
                                    {{ memo.article.title }}
                            {% elif memo.article.event.get_category_display == '세계'%}
                                <li class="world">
                                    <h6 class="d-block p-1 pl-2 pr-2 rounded text-truncate bg-violet text-white" id="exampleModalLongTitle">{{ memo.article.event }}</h6>
                                    {{ memo.article.title }}
                            {% endif %}
                                    <p class="float-right text-secondary memo-create-at">{{ memo.created_at|date_only }}</p>
                                    <p><a href="{% url 'memo' memo.id %}">{{ memo.title }}</a></p>
                                </li>
                        {% endif %}

                        {% if memo.issue %}
                            <li>
                            # {{ memo.issue.title }}
                            </li>
                        {% endif %}

                        {% comment %} <li>
                            <a target="_blank" href="https://www.totoprayogo.com/#">
                                {% if memo.issue %}
                                    # {{ memo.issue.title }}
                                {% elif memo.article %}
                                    {{ memo.article.title }}
                                    {{ memo.article.event }}
                                {% endif %}
                            </a>

                            <a href="#" class="float-right">{{ memo.created_at|date_only }}</a>
                            <p><a href="{% url 'memo' memo.id %}">{{ memo.title }}</a></p>
                        </li> {% endcomment %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}