{% extends "base.html" %}

{% block content %}
{% load custom_tags %}

<!-- memo nav bar-->
<nav class="navbar fixed-top navbar-light bg-light justify-content-center">
    <h4 class="month mb-4 text-center">메모<br></h4>
</nav>

<div class="container-memo">
    <!-- nav filtering nav tabs-->

    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'memos' %}">최신순</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" href="{% url 'memos_issue' %}">이슈별</a>
        </li>
    </ul>

    {% for issue in issues %}
        <strong><a href="{% url 'memo_issue' issue.id %}"># {{ issue.title }}</strong></a><br>
        <a href="{% url 'new_i' issue.id %}">메모쓰기</a>
        <details>
            <summary>관련 일정</summary>
            {% for event in issue|events %}
                {{ event.datetime|date_only }}: {{ event.title }} 
                {% if event in user.following_events %}
                    <a href="{% url 'unfollow' event.id %}?next={{request.path}}">언팔로우</a>
                {% else %}
                    <a href="{% url 'follow' event.id %}?next={{request.path}}">팔로우</a>
                {% endif %}
                -
            {% endfor %}
        </details>
    {% endfor %}
</div>
{% endblock content %}
