{% load markdown_extras %}
{% load staticfiles %}

<img style="width: 100%;" src="https://imgnews.pstatic.net/image/028/2019/04/12/0002450038_001_20190413025020992.JPG">
<div class="article-content">

한국이 일본과의 후쿠시마 수산물 수입금지 조처를 둘러싼 무역분쟁에서 예상을 깨고 사실상 승소했다. 이에 따라 2011년 동일본대지진으로 원전 사고가 발생한 후쿠시마 일대 8개 현의 수산물에 대한 수입금지가 유지되게 됐다. 
<br><br>
세계무역기구(WTO) 상소기구는 11일(현지시각) 일본이 제기한 후쿠시마 수산물 수입금지 조처 제소 사건에서 1심인 분쟁해결기구(DSB) 패널 판정을 뒤집고 한국 손을 들어줬다. 한국의 수입금지 조처가 일본에 대한 ‘자의적 차별’에 해당하지 않으며 ‘부당한 무역 제한’도 아니라고 판단한 것이다. 앞서 1심은 지난해 2월 “일본과 제3국 식품의 방사능 검사 수치가 비슷한데 일본 식품만 수입규제를 적용하는 것은 위생·식물위생(SPS) 협정상 금지되는 자의적 차별”이며 “통관 시 세슘 관리기준(100㏃/㎏) 외의 수입규제를 두는 것은 지나친 무역 제한”이라고 봤다. 에스피에스 관련 분쟁에서 1심 결과가 뒤집힌 것은 이번이 처음이다.
<br><br>

정부는 12일 오전 정부세종청사에서 기자회견을 열어 “이번 판정으로 일본 수산물에 대한 현행 수입규제 조처는 그대로 유지된다. 이 조처는 특별한 사정 변경이 없는 한 항구적”이라고 밝혔다.
<br><br>

최예린 기자 floye@hani.co.kr
</div>