<pre>
취임 후 두 번째 헌법재판관 지명…국회 청문회 거쳐 임명

靑 "헌법기관 여성 비율 30% 넘는 새 역사"…"지명자 모두 사회적 약자 존중"

(서울=연합뉴스) 이상헌 박경준 기자 = 문재인 대통령은 20일 문형배(54·사법연수원 18기) 부산고법 수석부장판사와 이미선(49·연수원 26기) 서울중앙지법 부장판사를 임기 6년의 헌법재판관으로 지명했다.
</pre>
<img src="https://imgnews.pstatic.net/image/001/2019/03/20/GYH2019032000090004400_P2_20190320155907460.jpg">
<pre>

이들 두 지명자는 다음 달 19일 퇴임하는 조용호·서기석 재판관의 후임이다.

이들 두 재판관 퇴임 한 달 전에 신임 재판관이 지명됨에 따라 후임 인선 지연으로 헌법재판관 공백 사태가 재연될 수 있다는 우려를 불식할 수 있게 됐다.

문 대통령이 헌법재판관을 지명한 것은 2017년 10월 유남석 현 헌법재판소장 이후 두 번째다. 이후 문 대통령은 작년 8월 유 재판관을 헌재소장으로 지명했다.

특히 이 후보자가 임명되면 이선애·이은애 재판관과 함께 헌정 사상 최초로 3명의 여성 재판관이 동시에 재직하게 되면서 헌법재판관 비율이 30%를 넘게 된다.

김의겸 대변인은 브리핑에서 "헌법재판관 구성 다양화라는 시대 요청에 부응하기 위해 성별·연령·지역 등을 두루 고려해 두 분을 지명했다"며 "특히 이 후보자가 임명되면 헌법기관 여성 비율이 30%를 넘는 새로운 역사를 시작한다"고 말했다.

문 대통령은 대선 공약으로 여성 장관 30%를 공약한 바 있다. 다만, 현 내각 여성 장관 비율은 18명 중 4명인 22.2%에 그치고 있다.

문형배·이미선 지명자는 국회 법제사법위원회의 인사청문회를 거쳐 결과 보고서가 채택되면 별도의 국회 동의 절차 없이 대통령이 임명하게 된다. 

문 지명자는 부산지법·부산고법 판사를 거쳐 창원지법·부산지법·부산고법 부장판사, 부산가정법원장 등을 역임했다. 

진주 대아고와 서울대 법대를 졸업했다. 

김의겸 청와대 대변인은 "문 후보자는 우수 법관으로 수회 선정되는 등 인품과 실력에 높은 평가를 받아 추천됐다"며 "평소 억울한 사람이 마지막으로 기댈 곳이 법원이라며, 뇌물 등 부정부패를 엄벌하고 노동사건, 아동학대, 가정폭력 등에서는 사회적 약자와 소수자의 권리를 존중했다"고 평가했다.

김 대변인은 "강자에게 강하고 약자에게 약한 재판을 하며 사법독립과 인권수호를 사명으로 삼아온 법관"이라며 "헌법 수호와 기본권 보장이라는 헌법재판관 임무를 잘 수행할 적임자"라고 말했다.

이 지명자는 서울지법·청주지법·수원지법·대전고법 판사를 거쳐 대법원 재판연구관, 수원지법 부장판사 등을 지냈다.

부산 학산여고와 부산대 법대를 졸업하고 같은 대학에서 법학 석사학위를 받았다. 

김 대변인은 "이 후보자는 우수한 사건분석 능력 등으로 실력을 인정받고 있다"며 "유아 성폭력범에게 술로 인한 충동 범행이고 피해자 부모와 합의해도 형 감경 사유가 안 된다며 실형을 선고해 여성 인권보장 디딤돌상을 받았다"고 소개했다.

또 "재판연구관 시절부터 노동법을 연구하며 노동자 보호 강화 등 사회적 약자 권리 보호에 노력했다"며 "뛰어난 실력과 온화하고 겸손한 성품으로 신망받는 40대 여성 법관"이라고 말했다.

김 대변인은 "헌법재판관 지명자들이 기성세대뿐 아니라 청년과 사회적 약자 등 다양한 의견에 귀 기울여 기본권 보장과 헌법 정의를 실현할 것"으로 기대했다.
</pre>
