{% load markdown_extras %}
{% load staticfiles %}
<div class="article-content">
<img src="https://imgnews.pstatic.net/image/028/2019/04/11/0002449901_001_20190411224608024.JPG" class="article-img">
세계무역기구(WTO)가 한국 정부가 2015년 내놓은 일본 후쿠시마 주변 지역 수산물 전면 수입금지 조처에 대해 최종 판단을 내린다. 1차 때와 마찬가지로 한국의 패배가 예상된다.
<br><br>
세계무역기구는 11일 저녁(현지시각) 스위스 제네바에서 한국 정부가 2015년 9월 취한 일본 후쿠시마 주변 지역 수산물 수입 제한 조처가 과학적 근거가 없다며 일본 정부가 한국을 상대로 제소한 건에 대한 최종 보고서를 배포한다. 
<br><br>
한국 정부는 2011년 3월 도쿄전력 후쿠시마 제1원전 사고 이후 동북 지방 8개 현(후쿠시마, 아오모리, 이와테, 미야기, 이바라키, 도치기, 군마, 지바)의 수산물 50종에 대한 수입을 금지하는 조처를 내렸다. 2년 뒤인 2013년 7~8월 후쿠시마 제1원전 오염수 저장탱크에 담긴 물이 바다로 유출된 사건이 발생하자 이 지역에서 나오는 ‘모든 수산물’의 수입을 금지하는 강화 조처를 발표했다. 또, 일본산 식품에서 대표적 방사성 물질인 세슘과 요오드가 조금이라도 검출될 경우, 수출업체에 스트론튬 등 다른 방사성 물질에 관한 검사 증명서를 제출하도록 요구했다. 일본 정부는 2015년 5월 한국 정부 규제 강화 조처가 부당해 “조기 철폐를 요구한다”며 한국 정부를 세계무역기구에 제소했다.
<br><br>
2011년 3월 원전 사고 이후 한국 등 세계 50개국 이상의 국가에서 후쿠시마와 주변 지역의 수산물 수입을 금하고 있다. 특히, 일본과 가깝고 식문화가 비슷한 동아시아 국가들의 규제가 강하다. 중국은 한국보다 많은 10개 지역(미야기, 후쿠시마, 이바라키, 도치기, 군마, 사이타마, 지바, 도쿄, 나가노, 니가타)에서 나오는 대부분의 식품과 사료 수입을 금지한다. 대만도 5개 지역(후쿠시마, 이바라키, 도치기, 군마, 지바)에서 생산되는 식품은 주류를 제외하고 수입을 금지한다. 다만, 이들 국가는 원전 사고 이후 같은 규제를 유지해 왔지만, 한국은 2013년 여름 오염수 유출 사고를 이유로 규제를 강화했다.
<br><br>
세계무역기구는 앞선 지난해 2월 분쟁해결절차에 따른 1심에 해당하는 패널 보고서를 통해 일본의 승소를 결정했다. 당시 패널 보고서는 한국 정부의 조처에 대해 “일본산 식품에 대해 차별적이며, 필요 이상으로 무역 제한적이고, 정보공표 등 투명성에서 미흡하다”며 세계무역기구 협정에 부합하지 않는다고 판정했다. 오염수 유출을 이유로 후쿠시마 주변 지역의 모든 수산물의 수입을 금지한 것은 합리적 조처가 아니란 의미였다. 이번 결정은 2심이자 최종심에 해당하는 상소기구의 결정이다.
<br><br>
하지만, 이번 결정으로 당장 한국 정부가 후쿠시마와 주변 지역 수산물 수입을 재개해야 하는 것은 아니다. 최장 15개월 동안 이행 절차에 대해서 논의할 수 있다. 한국 정부가 15개월 뒤에도 최종 보고서 내용을 이행을 하지 않을 경우에는 일본이 한국 상품에 대한 추가 관세 부과 등의 보복 조처를 취할 수 있다.
<br><br>
도쿄/조기원 특파원 garden@hani.co.kr
</div>
