<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>MyNewsDiary</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Material icon link -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% load sass_tags %}
        <link href="{% sass_src 'newsdiary/stylesheets/registration.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'newsdiary/stylesheets/calendar.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'newsdiary/stylesheets/layout.scss' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% comment %} <header class="brand-color">
            <div>
                {% if user.is_authenticated %}
                        {{ user.get_username }}님, 안녕하세요
                        <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a> 
                {% else %}
                        <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
                        <a href="{% url 'signup'%}?next={{request.path}}">회원가입</a>
                {% endif %} 
            </div>
            <p>
            MyNewsDiary
            </p>
        </header> {% endcomment %}
        {% block content %}
        {% endblock content %}

        <!-- bottom tab bar -->
        <!-- TODO: tab bar url -->
        홈, 예습, 복습, 메모, 이슈
        <nav class="navbar fixed-bottom navbar-light bg-light text-center">
            <div><a href="{% url 'signup' %}"><i class="tab-icon material-icons {% if request.resolver_match.view_name == 'calendar' %}tab-active{% endif %}">home</i></a></div>
            <div><a href="{% url 'signup' %}"><i class="tab-icon material-icons">book</i></a></div>
            <div><a href="{% url 'signup' %}"><i class="tab-icon material-icons">today</i></a></div>
            <div><a href="{% url 'signup' %}"><i class="tab-icon material-icons">local_post_office</i></a></div>
            <div><a href="{% url 'signup' %}"><i class="tab-icon material-icons">person</i></a></div>
        </nav>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="/static/newsdiary/javascript/modal.js"></script> 
    </body>
</html>