{% extends "base.html" %}

{% block content %}
{% load custom_tags %}
{% for issue in issues %}
    <strong><a href="{% url 'memo_issue' issue.id %}"># {{ issue.title }}</strong></a> <a href="{% url 'unfollow' issue.id %}?next={{request.path}}">언팔로우</a> | {{ issue.followers|length }} followers <br>
    <a href="{% url 'new_i' issue.id %}">메모쓰기</a>
    <details>
        <summary>관련 일정</summary>
        {% for event in issue|events %}
            {{ event.datetime|date_only }}: {{ event.title }} - 
        {% endfor %}
    </details>
{% endfor %}
{% endblock content %}
